
# ignore dir
#build/
build/*.txt
build/Makefile
build/*.cmake
build/CMakeFiles
build/sdk_core
build/sample

#whitelist
!build/notes.txt

#debian
.debhelper
/debian/files
*.deb
*.dsc
*.build
*.buildinfo
*.changes
*.log
*.substvars
/debian/livox-sdk
obj-x86_64-linux-gnu
